In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import sys
sys.path.append('..')
from preprocess import cleaner
import utils
%config IPCompleter.use_jedi = False

In [2]:
raw_df = pd.read_csv('../data/Post-2023-11-13.csv')

/tmp/ipykernel_33138/4215119273.py:1: DtypeWarning: Columns (10,11,12,13,16,17,55,56,58,68,69) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_df = pd.read_csv('../data/Post-2023-11-13.csv')

In [3]:
raw_df

,id,is_active,created_at,token,token_code,city_rel,city_name,image_count,title,top_description_text,...,meter,rooms,floor,total_price,price_per_meter,real_state_agency,real_state_agent,year,land_meter,house_status
0,37948,1,2023-11-13 04:27:44,37979,QZNFO9oB,NaN,tehran,5,آپارتمان ۹۵ متر ۲خواب الماس منطقه_سرمایه گذاری...,NaN,...,۹۵,۲,۲,۹٬۰۰۰٬۰۰۰٬۰۰۰ تومان,۹۴٬۷۳۶٬۰۰۰ تومان,نوین قشقایی,رضا کرمی,۱۳۹۷,NaN,NaN
1,37947,1,2023-11-13 04:27:44,37978,QZGBGQs7,NaN,tehran,7,48متر فول نوسازی شده، سند تکبرگ|فروش آپارتمان|...,NaN,...,۴۸,۱,۱ از ۳,۱٬۰۰۰٬۰۰۰٬۰۰۰ تومان,۲۰٬۸۳۳٬۰۰۰ تومان,املاک بزرگ منصور,و کارشناس فروش خانم کیا,۱۳۹۴,NaN,NaN
2,37946,1,2023-11-13 04:27:44,37977,QZJhfIdg,NaN,tehran,0,آپارتمان 57متر.پارکینک دار|فروش آپارتمان|تهران...,NaN,...,۵۷,۱,۲,۲٬۲۵۰٬۰۰۰٬۰۰۰ تومان,۳۹٬۴۷۳٬۰۰۰ تومان,مجموعه املاک آهنگ,محمد ساعی,۱۳۸۲,NaN,NaN
3,37945,1,2023-11-13 04:27:43,37976,QZ_8WPk7,NaN,tehran,5,۹۲ متر _فول امکانات _ طبقه ششم|فروش آپارتمان|ت...,NaN,...,۹۲,۲,۶ از ۶,۵٬۵۰۰٬۰۰۰٬۰۰۰ تومان,۵۹٬۷۸۲٬۰۰۰ تومان,گروه مشاورین املاک سران شعبه ٢,amir,۱۴۰۲,NaN,NaN
4,37944,1,2023-11-13 04:27:43,37975,QZMtO-33,NaN,tehran,7,۱۵۰ متر *مشاعات آبی فعال ونک*|فروش آپارتمان|ته...,NaN,...,۱۵۰,۳,۲,۲۲٬۵۰۰٬۰۰۰٬۰۰۰ تومان,۱۵۰٬۰۰۰٬۰۰۰ تومان,۱۱۰ ونک,چاووش,۱۳۸۷,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37943,5,1,2023-11-12 17:43:57,5,QZDtlZKA,NaN,tehran,5,آپارتمان دوخواب_غرق نور_وام|فروش آپارتمان|تهرا...,NaN,...,۱۰۵,۲,۲۵,۴٬۰۰۰٬۰۰۰٬۰۰۰ تومان,۳۸٬۰۹۵٬۰۰۰ تومان,روماک,ابوالفضل عدالت,۱۴۰۲,NaN,NaN
37944,4,1,2023-11-12 17:43:57,4,QZR5wQgS,NaN,tehran,6,64متر_خوش نقشه_سازمان بزنامه|فروش آپارتمان|تهر...,NaN,...,۶۴,۱,همکف,۴٬۵۵۰٬۰۰۰٬۰۰۰ تومان,۷۱٬۰۹۳٬۰۰۰ تومان,بزرگ دیپلمات,جاوید,۱۳۸۳,NaN,NaN
37945,3,1,2023-11-12 17:43:57,3,QZKF0mAG,NaN,tehran,7,۱۰۰متر_کلیدنخورده_نوساز خام_اندیشه فازیک|فروش ...,NaN,...,۱۰۰,۲,۳,۳٬۶۴۰٬۰۰۰٬۰۰۰ تومان,۳۶٬۴۰۰٬۰۰۰ تومان,املاک بزرگ آرشا,محسن محمودی,۱۴۰۲,NaN,NaN
37946,2,1,2023-11-12 17:43:57,2,QZR5QKMx,NaN,tehran,0,آپارتمان یک خوابه ۵۱ متر|فروش آپارتمان|تهران، ...,NaN,...,۵۱,۱,۴ از ۴,۳٬۳۱۵٬۰۰۰٬۰۰۰ تومان,۶۵٬۰۰۰٬۰۰۰ تومان,NaN,NaN,۱۳۹۴,NaN,NaN
37947,1,1,2023-11-12 17:43:57,1,QZLx8h6e,NaN,tehran,6,۱۱۰۰متر ویلای نوساز خوارزم شهرک غرب|فروش خانه ...,NaN,...,۱۱۰۰,+۴,NaN,۴۵۰٬۰۰۰٬۰۰۰٬۰۰۰ تومان,۶۹۲٬۳۰۷٬۰۰۰ تومان,NaN,احسان نظریان,۱۳۹۹,۶۵۰,NaN

In [4]:
# raw_df.real_state_agency[(raw_df.real_state_agency.str.contains('personal'))]
raw_df[raw_df['real_state_agency'].isna() | raw_df['real_state_agency'].str.contains('personal')]

,id,is_active,created_at,token,token_code,city_rel,city_name,image_count,title,top_description_text,...,meter,rooms,floor,total_price,price_per_meter,real_state_agency,real_state_agent,year,land_meter,house_status
5,37943,1,2023-11-13 04:27:43,37974,QZ4oz2p4,NaN,tehran,11,آ‌پارتمان۲۳۵ متر فلکه اول تهران‌پارس|فروش آپار...,NaN,...,۲۳۵,۳,۳,۳۰٬۰۰۰٬۰۰۰٬۰۰۰ تومان,۱۲۷٬۶۵۹٬۰۰۰ تومان,NaN,NaN,۱۳۹۰,NaN,NaN
8,37940,1,2023-11-13 04:27:37,37971,QZG5iXom,NaN,tehran,6,۸۸ متر دو خواب شهر زیبا|فروش آپارتمان|تهران، ش...,NaN,...,۸۸,۲,۳,۷٬۶۰۰٬۰۰۰٬۰۰۰ تومان,۸۶٬۳۶۳٬۰۰۰ تومان,NaN,حسین ابدی,۱۳۹۰,NaN,NaN
12,37936,1,2023-11-13 04:27:36,37967,AZ7iclOm,NaN,tehran,5,75متر اپارتمان.سعیداباد. مجتمع مهستان|فروش آپا...,NaN,...,۷۵,۲,۶ از ۶,۱٬۳۰۰٬۰۰۰٬۰۰۰ تومان,۱۷٬۳۳۳٬۰۰۰ تومان,NaN,خانم امامی املاک مهر,۱۴۰۲,NaN,NaN
13,37935,1,2023-11-13 04:27:36,37966,QZH10rGP,NaN,tehran,0,۱۰۰متر دو خوابه فرمانیه عسگریان|فروش آپارتمان|...,NaN,...,۱۰۰,۲,۶ از ۱۰,۱۱۱٬۱۱۱٬۱۱۱٬۱۱۱ تومان,۱٬۱۱۱٬۱۱۱٬۰۰۰ تومان,NaN,علی فکری,۱۴۰۲,NaN,NaN
14,37934,1,2023-11-13 04:27:36,37965,QZHgPRNE,NaN,tehran,20,تحویل واحد در برج وام دار چیتگرشرایطی‌منطقه۲۲|...,NaN,...,۱۲۲,۲,۱۷ از ۱۸,۱٬۶۹۰٬۰۰۰٬۰۰۰ تومان,۱۳٬۸۵۲٬۰۰۰ تومان,NaN,تعاونی مرکز منطقه۲۲,۱۴۰۲,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37934,14,1,2023-11-12 17:43:57,14,QZPpo0WE,NaN,tehran,0,واحد۹۰متری ۲خوابه،پروژه ارتش،چیتگر|فروش آپارتم...,NaN,...,۹۰,۲,۱۴,۲٬۸۰۰٬۰۰۰٬۰۰۰ تومان,۳۱٬۱۱۱٬۰۰۰ تومان,NaN,علیرضا خیرخواه,۱۴۰۲,NaN,NaN
37937,11,1,2023-11-12 17:43:57,11,QZMFdFF7,NaN,tehran,4,درخشان مثل پاییز تن طلایی_سعادت آباد_۱۲۳ متر|ف...,NaN,...,۱۲۳,۳,۴ از ۴,۱۶٬۷۰۰٬۰۰۰٬۰۰۰ تومان,۱۳۵٬۷۷۲٬۰۰۰ تومان,NaN,علی اسحاقی,۱۳۸۵,NaN,NaN
37938,10,1,2023-11-12 17:43:57,10,QZM9edW6,NaN,tehran,11,خانه 205 متری با سند|فروش خانه و ویلا|تهران، س...,NaN,...,۱۴۰,۲,NaN,۱٬۹۰۰٬۰۰۰٬۰۰۰ تومان,۹٬۲۶۸٬۰۰۰ تومان,NaN,تهرانی,۱۴۰۱,۲۰۵,NaN
37946,2,1,2023-11-12 17:43:57,2,QZR5QKMx,NaN,tehran,0,آپارتمان یک خوابه ۵۱ متر|فروش آپارتمان|تهران، ...,NaN,...,۵۱,۱,۴ از ۴,۳٬۳۱۵٬۰۰۰٬۰۰۰ تومان,۶۵٬۰۰۰٬۰۰۰ تومان,NaN,NaN,۱۳۹۴,NaN,NaN
37947,1,1,2023-11-12 17:43:57,1,QZLx8h6e,NaN,tehran,6,۱۱۰۰متر ویلای نوساز خوارزم شهرک غرب|فروش خانه ...,NaN,...,۱۱۰۰,+۴,NaN,۴۵۰٬۰۰۰٬۰۰۰٬۰۰۰ تومان,۶۹۲٬۳۰۷٬۰۰۰ تومان,NaN,احسان نظریان,۱۳۹۹,۶۵۰,NaN

In [5]:
(raw_df.isna().sum() / raw_df.id.count() > 0.9 )
null_percentage = raw_df.isna().sum() / raw_df.shape[0]
columns_with_more_than_80_percent_null = null_percentage[null_percentage > 0.2].index
columns_with_more_than_90_percent_null = null_percentage[null_percentage > 0.9].index
percent_90_null_columns = [column for column in columns_with_more_than_90_percent_null]
percent_80_null_columns = [column for column in columns_with_more_than_80_percent_null]

len(percent_90_null_columns)

# {"null_90":percent_90_null_columns,'null_80':set(percent_80_null_columns) - set(percent_90_null_columns)}
percent_80_null_columns

['city_rel',
 'top_description_text',
 'middle_description_text',
 'bottom_description_text',
 'red_text',
 'checkable',
 'label',
 'label_color',
 'is_checked',
 'has_chat',
 'last_post_date',
 'first_post_date',
 'brand_model',
 'gender',
 'originality',
 'status',
 'not_elevator',
 'not_parking',
 'not_depot',
 'map_type',
 'latitude',
 'longitude',
 'radius',
 'map_image_url',
 'balcony',
 'not_balcony',
 'check_cost_limit',
 'check_cost',
 'pricing_cost',
 'real_state_agency',
 'land_meter',
 'house_status']

In [6]:
# which cols have null-values more than 20% columns with more than 20% null value
x_20=null_percentage[null_percentage > 0.2].index
len(x_20)
# x_20

32

In [7]:
df = cleaner.Cleaner(raw_df).transform()

In [8]:
df

,id,is_active,created_at,token,token_code,city_name,image_count,title,district_persian,city_persian,...,depot,balcony,meter,rooms,floor,total_price,price_per_meter,real_state_agency,real_state_agent,year
0,37948,1,2023-11-13 04:27:44,37979,QZNFO9oB,tehran,5,آپارتمان ۹۵ متر ۲خواب الماس منطقه_سرمایه گذاری...,کوی فردوس,تهران,...,True,NaN,95,2,"(2, None)",9٬000٬000٬000 تومان,94٬736٬000 تومان,نوین قشقایی,رضا کرمی,1397
1,37947,1,2023-11-13 04:27:44,37978,QZGBGQs7,tehran,7,48متر فول نوسازی شده، سند تکبرگ|فروش آپارتمان|...,اندیشه (شهر زیبا),تهران,...,True,NaN,48,1,"[1, 3]",1٬000٬000٬000 تومان,20٬833٬000 تومان,املاک بزرگ منصور,و کارشناس فروش خانم کیا,1394
2,37946,1,2023-11-13 04:27:44,37977,QZJhfIdg,tehran,0,آپارتمان 57متر.پارکینک دار|فروش آپارتمان|تهران...,مشیریه,تهران,...,True,NaN,57,1,"(2, None)",2٬250٬000٬000 تومان,39٬473٬000 تومان,مجموعه املاک آهنگ,محمد ساعی,1382
3,37945,1,2023-11-13 04:27:43,37976,QZ_8WPk7,tehran,5,۹۲ متر _فول امکانات _ طبقه ششم|فروش آپارتمان|ت...,استاد معین,تهران,...,True,NaN,92,2,"[6, 6]",5٬500٬000٬000 تومان,59٬782٬000 تومان,گروه مشاورین املاک سران شعبه ٢,amir,1402
4,37944,1,2023-11-13 04:27:43,37975,QZMtO-33,tehran,7,۱۵۰ متر *مشاعات آبی فعال ونک*|فروش آپارتمان|ته...,ونک,تهران,...,True,NaN,150,3,"(2, None)",22٬500٬000٬000 تومان,150٬000٬000 تومان,۱۱۰ ونک,چاووش,1387
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37943,5,1,2023-11-12 17:43:57,5,QZDtlZKA,tehran,5,آپارتمان دوخواب_غرق نور_وام|فروش آپارتمان|تهرا...,چیتگر,تهران,...,True,NaN,105,2,"(25, None)",4٬000٬000٬000 تومان,38٬095٬000 تومان,روماک,ابوالفضل عدالت,1402
37944,4,1,2023-11-12 17:43:57,4,QZR5wQgS,tehran,6,64متر_خوش نقشه_سازمان بزنامه|فروش آپارتمان|تهر...,سازمان برنامه,تهران,...,True,NaN,64,1,"(0, None)",4٬550٬000٬000 تومان,71٬093٬000 تومان,بزرگ دیپلمات,جاوید,1383
37945,3,1,2023-11-12 17:43:57,3,QZKF0mAG,tehran,7,۱۰۰متر_کلیدنخورده_نوساز خام_اندیشه فازیک|فروش ...,اندیشه (شهر زیبا),تهران,...,True,NaN,100,2,"(3, None)",3٬640٬000٬000 تومان,36٬400٬000 تومان,املاک بزرگ آرشا,محسن محمودی,1402
37946,2,1,2023-11-12 17:43:57,2,QZR5QKMx,tehran,0,آپارتمان یک خوابه ۵۱ متر|فروش آپارتمان|تهران، ...,نازی‌آباد,تهران,...,True,NaN,51,1,"[4, 4]",3٬315٬000٬000 تومان,65٬000٬000 تومان,personal,NaN,1394
37947,1,1,2023-11-12 17:43:57,1,QZLx8h6e,tehran,6,۱۱۰۰متر ویلای نوساز خوارزم شهرک غرب|فروش خانه ...,شهرک غرب,تهران,...,True,True,1100,+4,None,450٬000٬000٬000 تومان,692٬307٬000 تومان,personal,احسان نظریان,1399